<head>
    <meta charset="UTF-8">
    <title>Press the Button!</title>
    <link rel="stylesheet" href="css/styles.css">

        <link rel="stylesheet" href="css/bootstrap.css">
</head>
	<body>
		<div class="col-md-6">
		<div class="row bg-light p-5">
		<div class="card-body">
		<p id="achievementsText"></p>
		<h3 class="card-title">Super Secret Password</h3>
		<p id="promptText"></p>

		<input type="text" id="passInput" onkeydown="if (event.keyCode == 13) document.getElementById('submitBtn').click();"/> 
		<input  type="submit" id="submitBtn" onclick="tryPass()">
		<p id="resultText"></p>

		<br/>
		<p id="debugText" textcolor="#000000"></p>
		</div>
		</div>
		</div>

	<script src="js/script.js"></script>
	</body>
</html>
